body {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid yellow;
    display: block;
    margin: auto;
}

button {
    padding: 10px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button.hidden {
    display: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 28px;
}
