body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: black;
    color: white;
}

button {
    background-color: yellow;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

canvas {
    border: 2px solid yellow;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation; /* Prevent double-tap zoom */
}
