body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #121212, #000);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

canvas {
    border: 2px solid #e7d610;
    background: #70c5ce;
}
